/*
	Module chart
 */

.m-chart{
	margin: 20px 0;
}

.m-chart-title{
	margin-bottom: 20px;
}

.m-chart-data{
	path {
	  fill: none;
	  stroke: #222;
	  stroke-width: 2px;
	}

	line {
	  fill: black;
	}
}

.m-chart-axis-x, 
.m-chart-axis-y{
	path, line{
	  	stroke: #222;
  		stroke-width: 1;
	}
}




text {
  font-family: arial;
  font-size: 12px;
}

.axis path,
.axis line {

}
.circle-holder{
  
  circle:hover{
    & + text{
      display: block;
    }
  }
  text{
    display: none;
  }
}
