@import "helpers";

// colours
$c-1 : #222;
$c-2 : #fefefe;

$c-error : red;
$c-warning : yellow;

// global break points
$bp-s : 580px;
$bp-m : 980px;
$bp-l : 1200px;

// font size
$fs-s : em(12px);
$fs-m : em(16px);
$fs-l : em(20px);

// font families
$ff-1 : Times, "Times New Roman", Georgia, serif;
