/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
* { box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; outline: none; }

body { line-height: 1; padding: 0; color: #ecf0f1; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; background-color: #1b1e24; font-weight: 300; letter-spacing: 2px; }

a { color: #ecf0f1; }
a:hover { color: white; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*
	headings
*/
h1 { font-size: 1.25em; text-transform: uppercase; padding-bottom: 10px; border-bottom: 1px solid #ecf0f1; text-align: center; }

/*
	buttons */
button { border: none; border-radius: 2px; background-color: #262a33; color: #ecf0f1; padding: 5px 15px; cursor: pointer; outline: none; }
button[disabled="disabled"] { opacity: 0.2; }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	forms */
input[type=text], input[type=textarea] { background-color: #262a33; border: none; padding: 5px 15px; outline: none; }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

.l-nav { display: none; padding: 20px; }
@media (min-width: 580px) { .l-nav { float: left; width: 0%; } }

.l-view { padding: 20px; }
@media (min-width: 580px) { .l-view { float: left; width: calc(100% - 0%); } }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	module nav */
.m-nav { font-size: 1em; overflow: hidden; background-color: #ecf0f1; text-transform: uppercase; text-align: center; padding: 10px 0; }

.m-nav-item { margin-bottom: 10px; }
.m-nav-item a { text-decoration: none; }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	Module chart */
.m-chart { margin: 20px 0; width: 100%; overflow-x: auto; overflow-y: hidden; display: none; position: relative; background-color: #101215; padding: 10px; border-radius: 5px; }
.m-chart.is-loading { display: block; background-color: transparent; -webkit-animation-name: pulse-loading; -webkit-animation-duration: 3s; -webkit-animation-iteration-count: infinite; animation-name: pulse-loading; animation-duration: 3s; animation-iteration-count: infinite; }
.m-chart.is-loading:after, .m-chart.is-loading:before { position: absolute; content: ""; left: calc(50% + 15px); top: calc(50% - 25px); width: 30px; height: 50px; background: #E23434; border-radius: 50px 50px 0 0; transform: rotate(-45deg); transform-origin: 0 100%; }
.m-chart.is-loading:before { left: calc(50% - 15px); transform: rotate(45deg); transform-origin: 100% 100%; }
.m-chart.is-loaded:after { opacity: 0; }
.m-chart.is-loaded { display: block; }

.m-chart-title { margin-bottom: 20px; }

.m-chart-data { opacity: 0; transition: opacity 1s ease-in-out; }
.is-loaded .m-chart-data { opacity: 1; }

.m-chart-axis-x, .m-chart-axis-y { font-size: 0.75em; }
.m-chart-axis-x path, .m-chart-axis-x line, .m-chart-axis-y path, .m-chart-axis-y line { stroke: #ecf0f1; stroke-width: 1; shape-rendering: crispEdges; fill: none; color: #ecf0f1; }
.m-chart-axis-x text, .m-chart-axis-y text { fill: #ecf0f1; }

.m-chart-label { fill: #ecf0f1; font-size: 0.75em; }

.m-chart-label-1 { fill: #e23434; }

.m-chart-label-2 { fill: #e2db34; }

.m-chart-label-3 { fill: #3495e2; }

.m-chart-label-4 { fill: #42e234; }

.m-chart-label-5 { fill: #1ae2c2; }

.m-chart-label-6 { fill: white; }

.m-chart-label-7 { fill: #faab36; }

.m-chart-label-8 { fill: #be30c4; }

.m-chart-label-9 { fill: #747474; }

.m-chart-line { fill: none; stroke: #ecf0f1; stroke-width: 2; }

.m-chart-line-1 { stroke: #e23434; }

.m-chart-line-2 { stroke: #e2db34; }

.m-chart-line-3 { stroke: #3495e2; }

.m-chart-line-4 { stroke: #42e234; }

.m-chart-line-5 { stroke: #1ae2c2; }

.m-chart-line-6 { stroke: white; }

.m-chart-line-7 { stroke: #faab36; }

.m-chart-line-8 { stroke: #be30c4; }

.m-chart-line-9 { stroke: #747474; }

.m-chart-dot-holder { position: relative; }
.m-chart-dot-holder:hover { z-index: 2; }

.m-chart-dot { fill: #ecf0f1; stroke-width: 3px; stroke: #101215; z-index: 1; }

.m-chart-dots-1 .m-chart-dot { fill: #e23434; }
.m-chart-dots-1 .m-chart-dot-label { fill: #e23434; }

.m-chart-dots-2 .m-chart-dot { fill: #e2db34; }
.m-chart-dots-2 .m-chart-dot-label { fill: #e2db34; }

.m-chart-dots-3 .m-chart-dot { fill: #3495e2; }
.m-chart-dots-3 .m-chart-dot-label { fill: #3495e2; }

.m-chart-dots-4 .m-chart-dot { fill: #42e234; }
.m-chart-dots-4 .m-chart-dot-label { fill: #42e234; }

.m-chart-dots-5 .m-chart-dot { fill: #1ae2c2; }
.m-chart-dots-5 .m-chart-dot-label { fill: #1ae2c2; }

.m-chart-dots-6 .m-chart-dot { fill: white; }
.m-chart-dots-6 .m-chart-dot-label { fill: white; }

.m-chart-dots-7 .m-chart-dot { fill: #faab36; }
.m-chart-dots-7 .m-chart-dot-label { fill: #faab36; }

.m-chart-dots-8 .m-chart-dot { fill: #be30c4; }
.m-chart-dots-8 .m-chart-dot-label { fill: #be30c4; }

.m-chart-dots-9 .m-chart-dot { fill: #747474; }
.m-chart-dots-9 .m-chart-dot-label { fill: #747474; }

.m-chart-tool-tip { fill: #ecf0f1; font-size: 0.75em; display: none; }
.m-chart-tool-tip.is-visible { display: block; }

.m-chart-error-holder { overflow: hidden; color: #e23434; font-size: 0.75em; }

.m-chart-errors { overflow: hidden; float: left; }

.m-chart-error, .m-chart-error-title { float: left; padding: 5px; }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	metric nav */
.m-metrics-nav { overflow: hidden; font-size: 0.75em; padding: 20px 0; }

.m-metrics-nav-item { float: left; margin: 2px 2px 0 0; }
.m-metrics-nav-item input[type=checkbox] { display: none; }
.m-metrics-nav-item label { background-color: #262a33; padding: 5px; display: block; }
.m-metrics-nav-item input:checked + label { background-color: #101215; }

/*
	Animation helpers and mixins */
/*
	mixins */
/*
	includes */
@-webkit-keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes pulse-loading { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/*
	module datepicker */
.m-date-picker { margin-bottom: 20px; font-size: 0.75em; }
.m-date-picker th { text-align: center; padding: 5px; }
.m-date-picker th button { width: 100%; }
.m-date-picker td { padding: 5px; }

/*# sourceMappingURL=main.css.map */